body { background-color: black;}

p,h1,h2, hr{
  color: white;
}

.container {
  border: 1px solid white;
  padding:20px;
  margin-top: 20px;
}

a {
  text-decoration: none;
}

p {
  white-space: pre-wrap;
}